.form {
    max-width: 500px;
    margin: 0 auto;
}

.form__status {
    width: 100%;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

.form__status--default {
    background-color: #dddddd;
}

.form__status--fail {
    background-color: #FFA5A5;
}

.form__status--success {
    background-color: #80c179;
}

.status__icon {
    border-top-left-radius: 5px;
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.status__icon--fail {
    background-color: #FF7C7C;
}

.status__icon--success {
    background-color: #43a450;
}

.form__status--text {
    margin: 0;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: 70px;
}

.form__content {
    padding: 40px;
    margin-bottom: 50px;
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}

.form__box {
    margin-bottom: 10px;
}

.form__box:last-child{
    margin-bottom: 0;
}

.form__box--label {
    display: block;
    margin: 0 0 5px 0;
    color: #666666;
}

.form__box--input {
    height: 50px;
    padding: 0 20px;
    width: 100%;
}

.form__btn {
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.form__box--link {
    display: block;
    text-align: center;
    color: #666666;
    text-decoration: underline;
}

.form__box--link:hover {
    color: #666666;
}

.form__box--link:focus {
    color: #666666;
}

@media screen and (max-width: 768px) {
    .form {
        padding: 0 10px;
    }

    .form__content {
        padding: 30px;
    }

    .form__box--input {
        height: 40px;
    }

    .form__btn {
        height: 40px;
    }
}