.discipline__empty {
    font-size: 1.5em;
    text-align: center;
    color: #999999;
    width: 100%;
    height: 50px;
    position: relative;
}

.discipline__empty::after {
    content: "Здесь будет список дисциплин";
}

.bread {
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid #eee;
    color: #666;
}

.bread__link {
    color: #666;
    text-decoration: underline;
}

.bread__link:hover {
    color: #999;
}

.nav {
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
}

.nav__line {
    margin-top: 10px;
    background-color: #dadada;
    height: 1px;
}

.nav__input--number {
    box-sizing: border-box;
    background-color: #888888;
    border: none;
    height: 30px;
    width: 80px;
    text-align: center;
    color: #000000;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.input__number--decrement,
.input__number--increment {
    display: inline-block;
    width: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background-color: #888888;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.input__number--decrement {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #dadada;
}

.input__number--increment {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #dadada;
}

.nav__input--centure {
    position: absolute;
    right: 15px;
    top: 15px;
    display: none;
}

.nav__label--centure {
    position: absolute;
    right: 15px;
    top: 1px;
    display: inline-block;
    width: 100px;
    height: 30px;
    color: #dddddd;
    background-color: #000000;
    border-radius: 5px;
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 0 15px;
    cursor: pointer;
    z-index: 10;
    opacity: .5;
}

.nav__label--centure::after {
    content: "";
    display: inline-block;
    height: 28px;
    width: 48px;
    background-color: #eeeeee;
    opacity: .5;
    border-radius: 5px;
    position: absolute;
    top: .7px;
    left: 0.7px;
    transition: all .3s linear;
    z-index: 15;
    cursor: default;
}

.nav__input--centure:checked+.nav__label--centure::after {
    left: 51px;
}

.nav__text--part {
    position: absolute;
    color: #000000;
    font-size: 20px;
    top: 3px;
    cursor: pointer;
    z-index: 0;
}

.firts--part {
    right: 88px;
}

.second--part {
    right: 33px;
}

.nav__text {
    color: #666666;
    top: 1px;
    font-size: 20px;
}

.text__part {
    position: absolute;
    right: 120px;
}

.disciplines {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

.discipline {
    position: relative;
    margin-bottom: 30px;
}

.discipline__content {
    padding: 40px;
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
    height: calc(100% - 45px);
}

.discipline__title {
    margin: 0 0 20px 0;
    color: #333333;
}

.discipline__text {
    margin: 0 0 10px 0;
    color: #333333;
}

.discipline__text--linking {
    margin: 0 0 5px 0;
    font-weight: bold;
}

.discipline__text:last-child {
    margin: 0;
}

.discipline__text--title {
    color: #666666;
    margin-right: 5px;
}

.discipline__nav {
    padding: 10px 20px;
    background-color: #333333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    width: 100%;
}

.discipline__nav--link {
    display: inline-block;
    width: 100%;
    color: #dddddd;
    padding: 3px 0;
    background-color: #666666;
    border-radius: 5px;
    transition: color .2s linear;
}

.discipline__nav--link:hover {
    color: #ffffff;
    text-decoration: none;
}

.discipline__nav--link:focus {
    color: #ffffff;
    text-decoration: none;
}


/*=============== Admin =================*/

.nav__icon--plus {
    margin-left: 5px;
    cursor: pointer;
}

.nav__icon--trash {
    position: absolute;
    right: 20px;
    top: 5px;
    cursor: pointer;
}

.nav__icon--calendar {
    position: absolute;
    top: 5px;
    right: 35px;
    cursor: pointer;
}

.nav__icon--sign-in {
    position: absolute;
    right: 35px;
    top: 5px;
    cursor: pointer;
    color: #333333;
}

.nav__icon--sign-in:hover {
    text-decoration: none;
    color: #333333;
}


/*=============== Media ================*/

@media screen and (max-width: 992px) {
    .disciplines {
        display: block;
    }
    .discipline {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .nav__text {
        font-size: 16px;
        position: absolute;
        top: -23px;
    }
    .text__part {
        top: -23px;
        right: 48px;
    }
    .nav__text--part {
        top: 3px
    }
    .discipline__nav--link {
        margin-bottom: 10px;
    }
    .col-xs-6:nth-child(3n)>.discipline__nav--link {
        margin-bottom: 0;
    }
    .col-xs-6:nth-child(4n)>.discipline__nav--link {
        margin-bottom: 0;
    }
}