input, select {
    border: 1px solid #dadada;
    background-color: #eeeeee;
    border-radius: 3px;
}

input[type="button"] {
    color: #ffffff;
    border: none;
    background-color: #004357;
    transition: background-color .2s linear;
}

input[type="button"]:hover {
    background-color: #006e8f;
}