.group__empty {
  font-size: 1.5em;
  text-align: center;
  color: #999999;
  width: 100%;
  height: 50px;
  position: relative;
}

.group__empty::after {
  content: "Здесь будет список групп";
}

.groups {
  margin-top: 20px;
}

.group {
  margin-bottom: 30px;
}

.group:nth-child(3n) {
  margin-right: 0;
}

.group__box {
  padding: 10px;
}

.group__box--name {
  background-color: #333;
  color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.group__box--user {
  background-color: #eee;
  color: #333;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.group__text {
  margin: 0;
}

.box__name--text {
  text-transform: uppercase;
  padding-right: 40px;
}

.group__nav {
  text-align: right;
  position: absolute;
  top: 10px;
  right: 25px;
}

.group__btn {
  cursor: pointer;
  transition: color .2s linear;
  margin-right: 10px;
  color: #8e8e8e;
}

.group__btn:last-child {
  margin-right: 0;
}

.group__btn:hover {
  color: #fff;
}

.group__btn--link {
  text-decoration: none;
}

.group__btn--link:hover {
  text-decoration: none;
}

.box__input {
  padding: 0;
}

.box__input--btn {
  padding: 0 0 0 10px;
}

/*============Media===========*/

@media screen and (max-width: 768px) {
  .group {
    margin-bottom: 20px;
  }

}
