body {
    margin: 0;
    padding: 0;

}
body, html {
    height: 100%;
}

.wrap {
    position: relative;
    min-height: 100%;
    padding-bottom: 40px;
    background-color: #fafafa;
}
/*clearfix*/
.cl {
    content: "";
    display: table;
    clear: both;
}

/*=======header=======*/

.header {
    width: 100%;
    min-height: 80px;
    background-color: #333;
}

.header__nav {
    margin: 0 auto;
    list-style: none;
    text-align: right;
    position: relative;
}

.header__nav--btn {
    color: #8e8e8e;
    position: absolute;
    right: 10px;
    top: 13px;
    cursor: pointer;
    display: none;
    transition: color .2s linear;
}

.header__nav--btn:hover {
    color: #fff;
}

.header__nav--list {
    display: inline-block;
    line-height: 80px;
    margin-right: 20px;
}

.header__nav--list:last-of-type {
    margin-right: 0;
}

.header__nav--link {
    color: #8e8e8e;
    text-decoration: none;
    transition: color .2s linear;
    text-transform: uppercase;
}

.nav__link--active {
    color: #fff;
}

.header__nav--link:hover {
    color: #fff;
    text-decoration: none;
}

.header__nav--link:focus {
    color: #fff;
    text-decoration: none;
}

.header__icon--sort-desc {
    margin-left: 3px;
}

#js-profile:hover + .sub-menu {
    display: block;
}

.sub-menu:hover {
    display: block;
}

.sub-menu {
    position: absolute;
    top: 48px;
    right: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 20px;
    width: 150px;
    height: 75px;
    background-color: #8e8e8e;
    text-align: center;
    border-radius: 3px;
    display: none;
}

.sub-menu--show {
    display: block;
}

.sub-menu--list {
    padding: 8px 0;
    border-bottom: 1px solid #eeeeee;
}
.sub-menu--list:last-child {
    border: none;
}


.sub-menu--link {
    color: #333;
    text-decoration: none;
    transition: color .2s linear;
}

.sub-menu--link:hover {
    text-decoration: none;
    color: #fff;
}

/*=======footer=======*/
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #666;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

/*=====Media=====*/
@media screen and (max-width: 768px) {

    .header {
        min-height: 40px;
    }

    .header__nav {
        padding-top: 20px;
        display: none;
    }

    .header__nav--show {
        display: block;
    }

    .header__nav--btn {
        display: block;
        z-index: 10;
    }

    .header__nav--list {
        display: block;
        line-height: 40px;
        text-align: left;
    }

    .header__nav--list:last-of-type {
        margin-right: 20px;
    }

    .sub-menu {
        top: 167px;
        left: 30px;
    }
}