.discipline__title--manager {
  margin-bottom: 0;
}

.discipline__box {
  margin: 20px auto;
}

.discipline__block {
  border-radius: 5px;
}

.manager-disciplines {
  display: flex;
  flex-wrap: wrap;
}

.discipline__content {
  height: 100%;
  display: flex;
  align-items: center;
}

.box__input {
  padding: 0;
}

.box__input--btn {
  padding: 0 0 0 10px;
}

@media screen and (max-width: 992px) {
  .manager-disciplines {
    flex-direction: column;
  }
}




  
