.notification {
    z-index: 10;
    box-sizing: border-box;
    background-color: #eee;
    width: 400px;
    padding: 20px;
    border-radius: 3px;
    position: fixed;
    top: -120px;
    opacity: 0;
    left: 50%;
    margin-left: -200px;
}

.notification__back {
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    display: none;
    top: 0;
    left: 0;
}

.notification__box--btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.notification__btn {
    width: 45%;
    padding: 3px 0;
    border: none;
    border-radius: 3px;
    color: #fff;
    transition: background-color .2s linear;
}

.notification__btn--close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    transition: color .2s linear;
}

.notification__btn--close:hover {
    color: #c0392b;
}

.notification__btn--success {
    background-color: #27ae60;
}

.notification__btn--success:hover {
    background-color: #2ecc71;
}

.notification__btn--cancel {
    background-color: #c0392b;
}

.notification__btn--cancel:hover {
    background-color: #e74c3c;
}

.notification__content {
    margin-bottom: 14px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.notification__content--input {
    width: 100%;
    background-color: #fff;
    padding: 3px 0 3px 5px;
}

.notification__content--select {
    background-color: #fff;
    padding: 3px 0 3px 5px;
    width: 100%;
}

.notification__content--select:first-of-type {
    margin-bottom: 5px;
}

.notification__content--label {
    display: block;
    width: 100%;
    color: #666;
}
